@model NZWalks.UI.Models.DTO.RegionDto


<h1 class="mt-3">Edit Region</h1>

@if (Model is not null)
{
    <form method="post">
        <div class="mb-3">
            <label for="Id" class="form-label">Id</label>
            <input type="text" class="form-control" id="Id" asp-for="Id" readonly>
        </div>
        <div class="mb-3">
            <label for="Code" class="form-label">Code</label>
            <input type="text" class="form-control" id="Code" asp-for="Code">
        </div>
        <div class="mb-3">
            <label for="Name" class="form-label">Name</label>
            <input type="text" class="form-control" id="Name" asp-for="Name">
        </div>
        <div class="mb-3">
            <label for="RegionImageUrl" class="form-label">Image URL</label>
            <input type="text" class="form-control" id="RegionImageUrl" asp-for="RegionImageUrl">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>

        <a type="button" class="btn btn-primary" asp-controller="Regions" asp-action="ShowAllRegion">Cancel</a>
    </form>
}
else
{
    <h3>Region not found</h3>
}   

